abrt/
cef_user_data/
dconf/
discord/
dleyna-renderer-service.conf
enchant/
eog/
evolution/
gconf/
gedit/
GIMP/
gnome-boxes/
gnome-initial-setup-done
gnome-session/
goa-1.0/
google-chrome/
gtk-2.0/
gtk-3.0/
hexchat/
i3/
ibus/
lftp/
libreoffice/
menus/
mimeapps.list
monitors.xml
nautilus/
neofetch/
pavucontrol.ini
procps/
pulse/
spotify/
Trolltech.conf
user-dirs.dirs
user-dirs.locale
yelp/
